<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.Asiscomex.ADX" android:installLocation="preferExternal" android:versionCode="13" android:versionName="13">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Aduanimex" android:usesCleartextTraffic="true"></application>
</manifest>